.video{

    width:1000px;
    height: 1700px;
};

.favorite-btn {
position:right;
};

.red{
    background-color: red !important;
}




.center{
position: absolute;
left: 30%;
transform: translate(-50%,-50%);
};

.stars label {
font-size: 50%
};

.stars label:before{
content:''
};

.stars input:checked label{
color: gold
};

.stars #five:checked .result:before{
content:"I love it"
};

.stars #four:checked .result:before{
    content:"I like it"
    };

.stars #three:checked .result:before{
 content:"It's good"
};

.stars #two:checked .result:before{
content:"I don't like it"
};

.stars #one:checked .result:before{
content:"I hate it"
};